.title {
  font-size: 64px;
  font-weight: 700;
  color: #fff;
}

.navtitle {
  /* margin-left: 5px; */
}

.subtitle {
  font-size: 36px;
  font-weight: 500;
  color: #ced3e6;
}

.marqTitle {
  font-size: 36px;
  font-weight: 500;
  color: #6e6e6e;
  margin-top: 10px;
}

.factcztitle {
  margin-top: 20px;
  font-size: 54px;
  font-weight: 600;
  color: #75706d;
}

.fzcol1 {
  margin-top: 12px;
  margin: 15px;
  height: 250px;
  width: 450px;
  background: #f1e7ff;
}
.fzcol2 {
  margin-top: 12px;
  margin: 15px;
  height: 250px;
  width: 450px;
  background: #ffe9f8;
}

.sclimg {
  width: 186px;
  height: 220px;
  left: 258px;
  top: -205px;
}

.teacher {
  width: 245px;
  height: 209px;
  left: 200px;
  top: -190px;
  filter: grayscale(100%);
}

.studentimg {
  width: 260px;
  height: auto;
  left: 200px;
  top: -196px;
  filter: grayscale(100%);
}

.parentimg {
  width: 220px;
  height: auto;
  left: 225px;
  top: -215px;
  filter: grayscale(100%);
}

.scltxt {
  margin-right: 200px;
  padding: 24px;
  font-size: 20px;
}

.accordion {
  padding: 64px;
}

.accordionhead {
  text-align: center;
  font-size: 54px;
  font-weight: 600;
  margin-bottom: 2rem;
}

.navcall {
  display: flex;
}

.textanim {
  font-size: 2.5rem;
  font-weight: 700;
  display: inline-block;
  color: #501b48;
}

.featurecard {
  display: flex;
  max-width: 768px;
  justify-content: center;
  align-items: flex-start;
}
.featuredcontent {
  width: 300px;
  height: 350px;
  /* background: #fbcffa; */
  margin: 20px;
  border-radius: 20px;
  box-shadow: rgba(111, 100, 109, 0.2) 0px 7px 29px 0px;
}
.plansbox {
  width: 300px;
  height: 550px;
  /* background: #e6cffb; */
  margin: 20px;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.planbtn {
  align-items: end;
  margin-top: 10%;
}

.badgetex {
  font-size: 54px;
  font-weight: 600;
  color: #75706d;
}

.featuretitle {
  font-size: 54px;
  font-weight: 600;
  color: #75706d;
}

.helptitle {
  font-size: 48px;
  font-weight: 600;
  color: #75706d;
}
.helpp {
  font-size: 20px;
  font-weight: 500;
}

.helpbox {
  margin-top: 20px;
  margin-bottom: 20px;
  height: auto;
  background: rgb(254, 240, 255);
}

.blurbox {
  width: auto;
  height: 108px;
  background: #e477ff;
  filter: blur(352.5px);
}

.formC {
  width: 600px;
}

.image-card {
  background: #f1e7ff;
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 480px;
  margin: 10px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.text-container {
  flex: 1;
  padding-right: 5px;
}

.text-container h2 {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 20px;
}

.image-container {
  flex: 1;
}

.image-container img {
  width: 80%;
  border-radius: 8px;
}

/* -------------------------------------------------------------------------------------------- */

.image-card1 {
  display: flex;
  background: #ffe9f8;
  flex-direction: row;
  align-items: center;
  max-width: 480px;
  margin: 10px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.text-container1 {
  flex: 1;
  padding-right: 5px;
}

.text-container1 h2 {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 20px;
}

.image-container1 {
  flex: 1;
}

.image-container1 img {
  width: 100%;
  border-radius: 8px;
  filter: grayscale(100%);
}
/* ------------------------------------------------------------------------- */
.image-card2 {
  display: flex;
  background: #ffe9f8;
  flex-direction: row;
  align-items: center;
  max-width: 480px;
  margin: 10px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.text-container2 {
  flex: 1;
  padding-right: 5px;
}

.text-container2 h2 {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 20px;
}

.image-container2 {
  flex: 1;
}

.image-container2 img {
  width: 100%;
  border-radius: 8px;
  filter: grayscale(100%);
}

/* -------------------------------------------------------------------------------------- */
.image-card3 {
  display: flex;
  background: #f1e7ff;
  flex-direction: row;
  align-items: center;
  max-width: 480px;
  margin: 10px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.text-container3 {
  flex: 1;
  padding-right: 5px;
}

.text-container3 h2 {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 20px;
}

.image-container3 {
  flex: 1;
}

.image-container3 img {
  width: 100%;
  border-radius: 8px;
  filter: grayscale(100%);
}

.mapC {
  width: 500px;
  height: 500px;
  margin: 30px;
}

.landcube {
  position: absolute;
  width: 100px;
  right: 250px;
  top: 230px;
}
.landcone {
  position: absolute;
  width: 130px;
  right: 140px;
  top: 140px;
}
.landtoro {
  position: absolute;
  width: 130px;
  right: 140px;
  top: 140px;
}

.locationtitle {
  font-size: 24px;
  font-weight: 500;
  color: #e477ff;
}
.locationp {
  font-size: 18px;
}

.featuredsign {
  max-width: 800px;
  height: 200px;
  margin: 0 auto; /* Center the container */
  padding: 20px;
  box-sizing: border-box; /* Include padding and border in total width */
  border-radius: 5px;
background: linear-gradient(133deg, #FFE4FC 25.67%, #F5E4FF 77.52%);
}

.insidefeature {
  width: 100%;
  padding: 20px;

  box-sizing: border-box;
}

.featuretitle{
  font-size: 28px;
}

/* ---------------------------------------------------------------------------------------------- */

@media only screen and (max-device-width: 768px) and (-webkit-min-device-pixel-ratio: 2) {
  .title {
    font-size: 54px;
    font-weight: 700;
    color: #fff;
  }

  .navtitle {
    margin-left: 5px;
  }

  .subtitle {
    font-size: 36px;
    font-weight: 500;
    color: #ced3e6;
  }

  .marqTitle {
    font-size: 24px;
    font-weight: 500;
    color: #75706d;
    margin-top: 10px;
  }

  .factcztitle {
    margin-top: 20px;
    font-size: 54px;
    font-weight: 600;
    color: #75706d;
  }

  .fzcol1 {
    margin-top: 12px;
    margin: 15px;
    height: 250px;
    width: 450px;
    background: #f1e7ff;
  }
  .fzcol2 {
    margin-top: 12px;
    margin: 15px;
    height: 250px;
    width: 450px;
    background: #ffe9f8;
  }

  .helptitle {
    font-size: 36px;
    font-weight: 600;
    color: #75706d;
  }

  .helpp {
    font-size: 18px;
    font-weight: 500;
  }

  .badgetex {
    font-size: 48px;
    font-weight: 600;
    color: #75706d;
  }

  .accordionhead {
    text-align: center;
    font-size: 44px;
    font-weight: 600;
    margin-bottom: 2rem;
  }
  .mapC {
    width: 450px;
    height: 450px;
    margin: 20px;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .title {
    font-size: 36px;
    font-weight: 700;
    color: #fff;
  }

  .navtitle {
    margin-left: 5px;
  }

  .subtitle {
    font-size: 20px;
    font-weight: 500;
    color: #ced3e6;
  }

  .helptitle {
    font-size: 28px;
    font-weight: 600;
    color: #75706d;
  }

  .helpp {
    font-size: 16px;
    font-weight: 500;
  }

  .marqTitle {
    font-size: 16px;
    font-weight: 500;
    color: #75706d;
    margin-top: 10px;
  }

  .factcztitle {
    margin-top: 20px;
    font-size: 34px;
    font-weight: 600;
    color: #75706d;
  }

  .fzcol1 {
    margin-top: 12px;
    margin: 15px;
    height: 225px;
    width: 450px;
    background: #f1e7ff;
  }
  .fzcol2 {
    margin-top: 12px;
    margin: 15px;
    height: 225px;
    width: 450px;
    background: #ffe9f8;
  }

  .sclimg {
    width: 170px;
    height: auto;
    left: 212px;
    top: -163px;
  }

  .teacher {
    width: 236px;
    height: auto;
    left: 160px;
    top: -160px;
    filter: grayscale(100%);
  }

  .studentimg {
    width: 240px;
    height: auto;
    left: 167px;
    top: -146px;
    filter: grayscale(100%);
  }

  .parentimg {
    width: 210px;
    height: auto;
    left: 173px;
    top: -173px;
    filter: grayscale(100%);
  }

  .scltxt {
    margin-right: 168px;
    padding: 22px;
    font-size: 14px;
  }

  .badgetex {
    font-size: 36px;
    font-weight: 600;
    color: #75706d;
  }

  .textanim {
    font-size: 32px;
    /* font-weight: 700; */
    display: inline-block;
    color: #501b48;
  }
  .accordionhead {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 2rem;
  }

  .formC {
    width: 400px;
  }
  .mapC {
    width: 300px;
    height: 300px;
    margin: 20px;
  }
}

@media only screen and (max-device-width: 375px) and (-webkit-min-device-pixel-ratio: 2) {
  .formC {
    width: 300px;
  }
  .mapC {
    width: 300px;
    height: 300px;
    margin: 20px;
  }
  .sclimg {
    width: 170px;
    height: auto;
    left: 173px;
    top: -193px;
  }

  .teacher {
    width: 220px;
    height: auto;
    left: 123px;
    top: -187px;
    filter: grayscale(100%);
  }

  .studentimg {
    width: 214px;
    height: auto;
    left: 143px;
    top: -165px;
    filter: grayscale(100%);
  }

  .parentimg {
    width: 210px;
    height: auto;
    left: 136px;
    top: -214px;
    filter: grayscale(100%);
  }
}
